body {
    padding: 0;
    margin: 0;
    font-family: Helvetica,'Aladin', cursive;
    font-size: 32px;
    color: #FFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color:#f15f22;
}

h1 {
    margin: 0 0 0 225px;
}

h3 {
    margin: 0 0 0 526px;
}

.wrapper {
    margin: 50px 320px;
}

.head {
    width: 500px;
    height: 350px;
    border-radius: 50%;
    background-color: #586949;
    /*margin: 0 auto;*/
    position: fixed;
    z-index: 1;
    box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);

}

.left-eye-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #586949;
    /*margin: 0 auto;*/
    /*margin-bottom: 30px;*/
    margin-left: 50px;
    z-index: 1;
    float: left;
    margin-left: 20px;

}

.left-eye {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FBEA74;
    /*margin: 0 auto;*/
    margin-left: 25px;
    margin-top: 10px;
    z-index: 2;

}


.right-eye-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #586949;
    /*margin: 0 auto;*/
    margin-right: 20px;
    z-index: 1;
    float: right;
    /*position: absolute;*/

}
.right-eye {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FBEA74;
    position: fixed;
    z-index: 2;
    margin-left: 25px;
    margin-top: 10px;
}

.pupil {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #000;
    /*margin: 0 auto;*/
    margin-top: 25px;
    z-index: 3;
    position: fixed;
    margin-left: 40px;
    margin-top: 20px;
}

.left-nostril {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #7F8778;
    position: fixed;
    z-index: 2;
    margin-top: 185px;
    margin-left: 200px;
    float: left;
    /*position: absolute;*/
    /*left: 410px;*/
}

.right-nostril {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #7F8778;
    z-index: 2;
    margin-top: 185px;
    margin-left: 275px;
    position: fixed;
    /*right: 410px;*/
    float: right;
}

.mouth {
    width: 500px;
    height: 315px;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    background-color: #EED8AE;
    margin-top: 60px;
    /*position: absolute;*/
    /*top: 115px;*/
    /*left: 212.5px;*/

}

.tongue {
    width: 125px;
    height: 0px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: red;
    position: fixed;
    margin-top: 250px;
    margin-left: 185px;
    z-index: 4;
}
